/*================geral======================*/
body {
    font-family: "Montserrat", Sans-serif;
    background-color: #181818;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
i{
    display: flex;
    padding-top: 1%;
    zoom: 3;
}
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding-bottom: 4rem;
}

section {
    padding: 0;
    margin: 0;
    text-align: center;
}

footer {
    background-color: #181818;
    color: white;
    text-align: center;
    padding: 1em;
    bottom: 0;
    font-size: 0.80rem;

}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.cabeçalho img {
    /* border: 1px solid red;*/
    width: 15%;
    display: flex;
    height: 40px;
    padding-top: 0.3rem;
}

/*===============botão===================*/

.cabeçalho button {
    width: 14rem;
    display: flex;
    height: 1.80rem;
    margin-left: 4%;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    background: #D4A762;
    text-decoration: none;
    border: transparent;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.151);
}

.cabeçalho a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.90rem;
    display: flex;
    color: #333;
    font-weight: 780;
    text-shadow: 1px 1px 0.3cap #18181886;
}

.cabeçalho button:hover {
    border: transparent;
    box-shadow: 2px 2px 8px 2px rgba(54, 52, 45, 0.288) inset;
}

/*========================barra=========================*/

.barra {
    display: flex;
    background: #D4A762;
    justify-content: center;
    align-items: center;
}

.barra p {
    margin: 0;
    text-transform: uppercase;
    font-weight: 800;
    color: #333;
    text-shadow: 1px 3px 0.4cap rgba(0, 0, 0, 0.336);
}

.box {
    background: #f4f4f444;
    width: 80%;
    height: 100;
    border-radius: 10px;
}

.box p {
    /*border: 1px solid green;*/
    margin-bottom: 1rem;
    margin-top: 0.1rem;
    width: 90%;
    text-align: center;
    color: #f4f4f4;
    font-size: 0.8rem;
    font-weight: 400;
    font-family: "Open Sans", Helvetica, Arial, sans-serif; 
}

.box h2 {
    padding-bottom: 0;
    width: 80%;
    margin-bottom: 0.5rem;
    color: #D4A762;
    
}

.imagem3 {
    object-fit: contain;
}

/*================= caixa de perguntas =================*/
.area {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.area-perguntas {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    /*border: 1px solid red;*/
    width: 100%;
    align-items: center;
    justify-content: center;
}

.perguntas {
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background: #292929;
}

.perguntas details summary {

    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 5 00;
    padding: 2%;
    color: white;
    background: #3d3d3d;
}

.perguntas details p {
    padding: 2%;
    color: white;
    font-size: 0.8rem;
    margin: 0.8rem;
    margin-left: 1px;
}

/*========================BOX=============================*/
.box {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    /*border: 1px solid sandybrown;*/
    height: 10%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.box h2 {
    font-size: 1.20rem;
}

/*======================sobre==============================*/

.sobre {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.sobre h2 {
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: 8%;
    color: #D4A762;
    font-weight:800;
}

.sobre p {
    margin-top: 4%;
    display: flex;
    color: white;
    font-size: 10px;
    margin: 8px;
    padding: 0;
    margin-top: 8%;
    text-align: left;
    width: 90%;
    margin-top: 8%;
    text-align: left;
    width: 90%;
}

/*==========================MOBILE===========================*/

@media(max-width: 576px) {
    body {
        width: auto;
    }

    .container {
        display: block;
        margin: 0;
        padding: 0;
        height: 100%;
        background-color: #333;
    }

    .cabeçalho {
        /*border: 1px solid sandybrown;*/
        background-image: url(img/bg-topo.png);
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        height: 38%;
    }

    .cabeçalho h1 {
        display: block;
        text-align: left;
        font-size: 1.60rem;
        width: 70%;
        height: auto;
        /*border: 1px solid salmon;*/
        margin: 0;
        padding: 0;
        left: 29%;
        margin-left: 4%;
        margin-top: 10%;
    }
       
    }
    .cabeçalho p {
        display: block;
        text-align: left;
        font-size: 1rem;
        width: 70%;
        height: auto;
        /*border: 1px solid salmon;*/
        margin-top: 0.70rem;
        margin-left: 4%;
        padding: 0;
        left: 29%;
    }

    .destaque {
        color: #D4A762;
        font-weight: 800;
    }

    .barra {
        height: 47px;
    }

    .barra p {
        font-size: 0.95rem;
    }

    .area {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    i{
        display: flex;
        padding-top: 4%;
        zoom: 2;
    }
    .box {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        /*border: 1px solid sandybrown;*/
        height: 10%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .box h2 {
        font-size: 1.20rem;
    }

    .imagemsobre {
        display: flex;
        margin-left: 2rem;
        /*border: 1px solid rgb(21, 255, 0);*/
        width: 80%;
        height: 15rem;
        margin: 1rem;
    }

    .sobre h2 {
        padding-right: 2rem;
    }




/*===================== TABLET =========================*/

@media (min-width: 431px) {

    .container {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background-color: #333;
    }

    .cabeçalho {
        /*border: 1px solid sandybrown;*/
        background-image: url(img/bg-tablet.png);
        background-repeat: no-repeat;
        background-size: auto;
        margin: 0;
        padding-left: 0;
        padding-top: 2rem;
        padding-bottom: 6rem;
        padding-right: 0;
        width: 100%;
        height: 100%;
    }

    .cabeçalho h1 {
        display: block;
        text-align: left;
        font-size: 2.60rem;
        width: 80%;
        height: auto;
        /*border: 1px solid salmon;*/
        margin: 0;
        padding: 0;
        left: 29%;
        margin-left: 4%;
        margin-top: 10%;
    }

    .cabeçalho p {
        display: block;
        text-align: left;
        font-size: 1rem;
        width: 70%;
        height: auto;
        /*border: 1px solid salmon;*/
        margin-top: 4rem;
        margin-left: 4%;
        padding: 0;
        left: 29%;
    }


    /*===============destaque====================*/
   
    .destaque {
        color: hsl(36, 57%, 61%);
    }

    .barra {
        height: 60px;
    }
    .barra p {
        font-size: 1.30rem;
    }

    .area {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .box {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        /*border: 1px solid sandybrown;*/
        height: 60%;
        width: 60%;
        justify-content: center;
        align-items: center;
    }

    .box h2 {
        font-size: 1.25rem;
    }



    /*=================sobre==================*/
    .imagemsobre {
        display: flex;
        /*border: 1px solid blue;*/
        width: 50%;
        height: 17rem;
        margin: 1rem;
        margin-left: 5rem;
    }

    .sobre h2 {
        padding-right: 1rem;    
    }

}

/*================ DESKTOP ===========================*/

@media (min-width:1000px) {
    .logo {
        /*border: 1px solid blue;*/
        width: 100%;
        height: 100%;
        zoom: 1.5;
    }

    .container {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background-color: #333;
    }

    .cabeçalho {
        /*border: 1px solid sandybrown;*/
        background-image: url(img/bg-tablet.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        padding-left: 0;
        padding-top: 2rem;
        padding-bottom: 6rem;
        padding-right: 0;
        width: 100%;
        height: 100%;

    }

    .cabeçalho h1 {
        display: block;
        text-align: left;
        font-size: 3rem;
        width: 40%;
        height: auto;
        /*border: 1px solid salmon;*/
        margin: 0;
        padding: 0;
        left: 29%;
        margin-left: 4%;
        margin-top: 5%;
    }

    .cabeçalho p {
        display: block;
        text-align: left;
        font-size: 1rem;
        width: 50%;
        height: auto;
        /*border: 1px solid salmon;*/
        margin-top: 1rem;
        margin-left: 4%;
        padding: 0;
        left: 29%;
    }



    /*===============destaque====================*/
    .destaque {
        color: #D4A762;
    }

    .barra {
        height: 60px;

    }

    .barra p {
        font-size: 1.30rem;
    }

    .area {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .box {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        /*border: 1px solid sandybrown;*/
        height: 60%;
        width: 60%;
        justify-content: center;
        align-items: center;
    }

    .box h2 {
        font-size: 1.25rem;

    }

    .box p {
        font-size: 1rem;
    }

    /*=================sobre==================*/

    .imagemsobre {
        display: flex;
        /*border: 1px solid blue;*/
        width: 19%;
        height: 21rem;
        margin: 1rem;
        margin-left: 2rem;
    }
    .sobre h2 { 
        padding-right: 2rem;
    }

}